.show-container {
  margin: 0 auto;
  width: 90vw;
  height: 90vh;
  display: flex;
}

.wide-btn {
  width: 100%;
}

.offer-token {
  text-align: center;
  border-radius: 3px;
  padding: 9px;
}

.image_preview {
  width: 100%;
}

.all-grey-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grey-info {
  display: flex;
  height: 60px;
  background-color: rgb(170, 170, 170);

  i {
    margin: auto;
    color: grey;
    font-size: xx-large;
    padding-left: 20px
  }
}

.div-txt {
  width: 80%;
}

#grey-info-text {
  padding-left: 40px;
  font-family: sans-serif;
  font-size: large;
  font-weight: bold;
  color: rgb(95, 95, 95);
}

.offer-title {
  margin-bottom: 25px;
}

.description {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
