.show-container {
  margin: 0 auto;
  width: 90vw;
  height: 90vh;
  display: flex;
}

.wide-btn {
  width: 100%;
}

.offer-token {
  text-align: center;
  border-radius: 3px;
  padding: 9px;
}

.image_preview {
  width: 100%;
}
