  <div class="card-product">
    <img src="https://cdn.dribbble.com/users/1787323/screenshots/14113017/media/f8632f8c42e53263256b94e6e575c3df.png?compress=1&resize=800x600" />
    <div class="card-product-infos">
      <h2><%= link_to offer.title offer_path %></h2>
      <p><%= offer.item %></p>
      <p><%= offer.location %></p>
      <p>Price per day: <%= offer.price_per_day %>€.</p>
    </div>
  </div>

