<div class="sorting d-flex justify-content-end">
  <div class="justify-content-between">
    <%= link_to offers_path(sort: "price-up") do %>
      <i class="fas fa-chevron-up"></i>
    <% end %>

    <%= link_to offers_path(sort: "price-down") do %>
      <i class="fas fa-chevron-down"></i>
    <% end %>
  </div>
</div>
