<%= render 'shared/navbar' %>

<div class="container border border-dark col-10">
  <div class="row">
    <div class="col-6 border border-primary">
      <h1>Louez une console en quelques clics</h1>
      <p>Louez des jeux, des manettes pour une après-midi, une journée, une semaine et enjoy ! </p>
    </div>
    <div class="col-3 border-warning">
      <%= image_tag "https://cdn.dribbble.com/users/1787323/screenshots/14113017/media/6100e76fe57f7d61512b05e536820b94.png?compress=1&resize=800x600", width: "500px" %>
    </div>
  </div>
</div>
