<div class="container col-10 d-flex align-items-center">
  <div class="first-box row justify-content-between">
    <div class="col-12 col-lg-6 d-flex-column py-4 px-0">
      <h1>Louez une console en quelques clics</h1>
      <p>Louez des jeux, des manettes pour une après-midi, une journée, une semaine et enjoy ! </p>

      <div class="form-group">
        <%= render "shared/form", offers: @offers %>
      </div>

    </div>
    <div class="col-lg-5 d-none d-lg-block align-items-center">
      <%= image_tag "https://cdn.dribbble.com/users/1787323/screenshots/14113017/media/6100e76fe57f7d61512b05e536820b94.png?compress=1&resize=800x600", width: "100%" %>
    </div>
  </div>
</div>

<div class="container col-10 d-flex align-items-center">
  <div class="first-box row">
    <div class="container p-0">
      <h2>Les dernières offres</h2>
      <%= render "shared/simple_cards_index", offers: @offers %>
    </div>
  </div>
</div>

