<div class="container col-10 d-flex align-items-center">
  <div class=“first-box ”>
    <div class=col-12">
      <h1>Super! Vous allez bientôt pouvoir jouer!</h1>
    </div>
  </div>
</div>



<div class="card p-5">
  <img class="width: 100%" src="http://media.npr.org/assets/news/2009/10/27/facebook1_sq-17f6f5e06d5742d8c53576f7c13d5cf7158202a9.jpg?s=16" alt="" />
  <div id="container">
  <%= "John Doe" %>
  </div>
</div>
</div>
