.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand svg {
  width: 60px;
  fill: #0FCBFF;
  margin-left: 10px;
  &:hover {
    fill: #FEB031;
  }
}

.nav-item {
  margin: 0 10px;
}

.site-name {
  font-family: 'Raleway', sans-serif;
  font-size: x-large;
}
