// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/button";
@import "components/index";
@import "components/navbar";
@import "pages/index";

body {
  background-color: white;

  h1 {
    font-family: sans-serif;
    font-weight: bold;
  }
}
